
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@500&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base{
    @font-face {
        font-family: "Alhurra";
        src: url('/fonts/AlHurraTxtlight.woff2') format('woff2');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
      }
}

*::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: #eee;
    /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: #999;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* border: 3px solid orange; */
    /* creates padding around scroll thumb */
}